

.everylink:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



#wholepage{
	
	height:auto;
	width:100%;
	min-width:100%;
	
	
	background-color:#DCDCDC;
	
	
}
#submain{
	
	
	height:1300px;
	width:1200px;
	min-width:1200px;
	background-color:#FFF0F5;
	margin-top:-100px;
	
	
	position:absolute;
	margin:0 auto;
	left:50%;
	transform: translate(-50%, 0);
}
#container{
	background-color:white;
	height:130px;
	width:60%;
	margin: 0 auto;
	margin-top:40px;
	
	
	
}

#uppercontainer{
	background-color:white;
	height:60px;
	width:45%;
	margin:0 auto;
	margin-top:50px;
	
	text-align:center;
	
}
#topcontainer{
	background-color:white;
	height:auto;
	width:620px;
	min-width:620px;
	min-height:102px ;
	margin: 0 auto;
	
	/*border:1px solid black;*/
	text-align:center;
	margin-top:80px;
	
	
}

#bj{
	
	color:#3b5998;
}



#searchbar{
	width:60%;
	
	margin:0 auto;
	text-align:center;
	display:block;
}

#links{

	width:100%;
	
	
	text-align:center;
	display:block;
	height:50px;
	
	

	}
	.everylink{

display:inline-block;
margin-right:5px;
		}
.button{
	display:inline-block;
	
}
#input1{
width:100%;
height:40px;
display:block;
margin: 0 auto;	
border-radius:17px;
border:1px solid gray;
	
	
}
#input2{
height:30px;
margin: 0 auto;
border-radius:8px;
margin-top:4px;	

	
	
}

#leftdiv{
	margin-top:50px;
	float:left;
	width:20%;
	height:350px;
	
	margin-left:40px;
	border-bottom:1px solid gray;
}
#rightdiv{
	float:right;
	width:20%;
	height:350px;
	
	margin-right:40px;
	margin-top:50px;
	border-bottom:1px solid gray;
}
#lowerwritediv{
	
	float:right;
	width:20%;
	height:800px;
	margin-right:-350px;
	margin-top:350px;
	border:1px solid black;
	overflow-y: hidden;
	position:relative;
	
}
.freebirdFormviewerViewNavigationPasswordWarning{
  display: none;
}
.thisframe{
overflow:hidden;	
	position:absolute;
}
#lowercontainer{
	
		
	width:50%;
	height:150px;
	margin: 0 auto;
	margin-top:100px;
	text-align:center;
	
	
	
}
.round{
	width:200px;
	height:40px;
	background-color:black;
	color:white;
	border-radius:50%;
	size:20px;
	
}
.logo{
	display:inline-block;
margin: 0 auto;
background-color:white;	
}

.firstclass{
width:170px;
}
	#tableprice{
  border-spacing: 0 4px;
border-collapse: separate;	
	
	
	
}
#top1{
	padding:15px;
	background-color:#26272b;
	height:45px;
	width:100%;
	position:absolute;
	top:0;
	 
}
.secondclass{

width:40px;
	height:40px;
	background-color:#4c8bf5;
	color:white;
	
	font-size:18px;
	margin-top:1px;

	}
	.thirdclass{
	width:40px;
	height:40px;
	
	color:black;
	
	size:20px;	
		
	}

	.titleclass{
background-color:#4c8bf5;
color:white;
height:50px;
width:243.2px;
font-size:20px;
text-align:center;
	}

	.titleclass2{
background-color:#4c8bf5;
color:white;
height:50px;
width:250.2px;
font-size:20px;
text-align:center;
	}

	.thetable{
/*border:1px solid #4c8bf5;*/
	}
	.thephotos{
width:141px;
height:121px;

display:inline-block;
		}
		
		
		.full {
    width: 100%;	
}




















.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top:100px;
  position:absolute;
  width:100%;
   bottom:0; 
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
#map{
border:1px solid black;	
background-color:white;
	
}
