/*.App {
  text-align: center;
  min-width:500px;
 /* transform: scale(0.7);
  transform-origin: 0 0;
  
}*/


.Pricesaccord{
  display:none;
}
.sepspace{
  display:block;
  height:4vh;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content:center ;
  font-size: calc(10px + 2vmin);
  color: white;
  row-gap: 20px;
  
  background-color: #708090;
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border:1px solid pink;
  justify-content:center ;
  font-size: calc(10px + 2vmin);
  color: white;
  row-gap: 20px;
 
  background-color: #708090;
  
}
.top{

  min-height:5vh;
  height:15vh;

  display:flex;
  flex-direction:row;
  min-width:100%;
justify-content: space-between;

}
.navC{
  display:flex;
  flex-direction:row;
  justify-content:start;
font-size:1.4vw;
  height:6vh;
  border-top:1px solid black;
  border-bottom:1px solid black;
  color:#282828;
  
  font-weight:900;
  margin-top:10vh;
}
.top-left{
  flex:1;
  
  color:white;
  background-color: #708090;
  font-family: 'Bayon', sans-serif;
  font-size:2vw;
  color:white;
  display:flex;

}
.top-left-left{
flex:1;
display:flex;
justify-content: center;

}
.top-left-right{
  display:flex;
justify-content: center;

  flex:2;
}
.top-right{
  flex:1;
  
  background-color: #708090;
}
.maintop{
  
 
   height:100%;
    display:flex;
  flex-direction:row;

    min-width:100%;
  
    flex-direction:row;
  justify-content: space-between;
  
  background-color: #708090;
}

.clock{
  width:auto;
}
.react-clock{
  width:auto;
}
.footer{
  border-top:1px solid black;
  min-height:20vh;
  
  color:black;
}
.fileIn{
  width:20vw;
  font-size: 1.4vw;
}
.selop{
  width:60%;
  margin:0 auto;
  font-size: 1.4vw;
}
.selnum{
  width:60%;
  margin:0 auto;
  font-size: 2vw;
}
.seldate{
  width:60%;
  margin:0 auto;
  font-size: 2vw;
}
.printLabel{
  font-size:1.6vw;
}
.main {
  /*background-color: #282c34;*/
  background-color:white;
  min-height: 70vh;
 margin-top:5vh;
  display: flex;
  flex-direction: row;
  
  justify-content:space-between ;
  font-size: calc(10px + 2vmin);
  color: black;
  row-gap: 20px;
  background-color: #708090;
}
.row1{
  min-height:100vh;
 
  width:19%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-color: #708090;
  
}
.mrow{
  
  min-height:100vh;
  
  width:60%;
  display:flex;
  flex-direction:column;
  justify-content: start;
  flex-wrap:wrap;
  row-gap:5vw;
  
}

.rectangles{
border-bottom:1px solid black;
min-width:80%;
display:flex;
flex-direction:column;
justify-content:space-around;
height:auto;
padding-top:21px;
margin: 0 auto;
}
.gbutton{
  width:14vw;
  justify-self:center;
  font-size:1.4vw;
}
.Formtxt{
  font-size:1vw;
}
.ginput{
  width:99%;
  height:4vh;
  font-size: 1.2vw;
  border-radius: 10px;
}
.imggoog{
  width:15vw;
}
.row3{
  min-height:100vh;
 
  width:19%;
  display:flex;
  flex-direction:row;
  justify-content:center;
 /* transform: scale(0.7);
  transform-origin: 0 0;*/
  justify-self:center;
  background-color: #708090;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.react-pricing-table{

 width:auto;
 position:relative
}
.sidesC{
  display:flex;
  flex-direction: column;
  justify-content: start;
  width:inherit;
  background-color: #708090;
  width:100%;
row-gap:25vh;
}
.some{
  
  justify-self:top;
  height:auto;
  background-color: #708090;
  
  font-size: 2vw;
  
  display:flex;
  flex-flow:column;
  justify-content: space-around;
  margin-top:20px;
 
}

.cardbody{
  font-size:1.1vw;
  display:flex;
  flex-direction:column;
  background-color: #708090;
}
.cardheader{
  font-size:2vw;
  background-color: #708090;
  font-family: 'Bayon', sans-serif;
  color:white;
  margin: 0 auto;
}
.Grid{
  width:auto;

}
.Grid-cell{
  width:auto;
}
.price basic-border{
min-width:auto;
}
.price{
  min-width:auto;
}
.kingcontainer{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  height:100%;
}
.eachking{
  width:6vw;
  height:100%;
  row-gap:1vw;

  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap ;
  background-color: #708090;
  
 
}
.imgH{
  background-color: #708090;
 
  
}
.kingimg{
  width:6vw;
  height:auto;
  
 
}
.logoimg{
width:12vw;
height:100%;

}

.imglogodiv{
  
  display:flex;
  flex-direction: column;
justify-content: flex-start;
  width:85%;
  
  flex-wrap:wrap;
}
.mainslogan{
  border-bottom:1px solid black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height:75%;
  font-size:4.5vw;
  flex-wrap:wrap;
}
.slogan{
font-size:1.3vw;
width:100%;
  height:19%;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  
}
.nav{
 
  
  width:100%;
  
height:100%;
  
}
.navlinks{
display:flex;
flex-direction:row;
justify-content: space-between;
height:100%;
width:56%;
font-family: 'Bayon', sans-serif;
list-style: none;
background-color:white;
border-right:1px solid black;

}

.navlinks2{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  
  height:100%;
  width:40%;
  font-family: 'Bayon', sans-serif;
  list-style: none;
  
  background-color:#708090;
  }
.links{
  transition: box-shadow .3s;
  cursor:pointer;
  text-decoration: none;
  color:#282828;
  margin:1vw;
  font-weight:900;
  font-size:1.4vw;
}
.links:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.navbar-toggler{
  
  border:none;
}

.navbar-light {
  border-color:black;

  width:20vw;
 
  position:absolute;
  
 }


#navbar{
  
  width:100%;
  background-color:#708090;
}


@media only screen and (max-width: 970px) {

  .App{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    
    justify-content:start ;
    font-size: calc(10px + 2vmin);
    color: white;
    row-gap: 20px;
  
    background-color: #708090;
    text-align: center;
   
  }
  .navnav{
    display:block;
    background-color:black;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -5px; 
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
 
  .App-header {
    /*background-color: #282c34;*/
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border:1px solid pink;
    justify-content:center ;
    font-size: calc(10px + 2vmin);
    color: white;
    row-gap: 20px;
    min-width:100%;
    width:100%;
    background-color: #708090;
    
  }
  .top{
  
    min-height:60px;
    height:10vh;
  
    display:flex;
    flex-flow:row;
    min-width:100%;
  justify-content: space-between;
  
  }
  .navC{
    display:flex;
    
  font-size:1.4vw;
    height:4vh;
    border-top:1px solid black;
    color:white;
  }
  .top-left{
    flex:1;
    
    color:white;
    background-color: #708090;
    font-family: 'Bayon', sans-serif;
    font-size:10vw;
    color:white;
    display:flex;
  
  }
  .top-left-left{
  flex:1;
  display:flex;
  justify-content: center;
  
  }
  .top-left-right{
    display:flex;
  justify-content: center;
  
    flex:2;
  }
  .top-right{
    flex:1.2;
    
    background-color: #708090;
  }
  .maintop{
    
   
     height:100%;
      display:flex;
    flex-flow:row;
  
      min-width:100%;
     
      flex-direction:row;
    justify-content: space-between;
    
    background-color: #708090;
  }
  
  .clock{
    width:auto;
  }
  .react-clock{
    width:auto;
  }
  .footer{
    min-height:5vh;
    
    color:black;
  }
  .main {
    /*background-color: #282c34;*/
    background-color:white;
    min-height: 70vh;
   
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
    border:1px solid black;
    justify-content:space-between ;
    font-size: calc(10px + 2vmin);
    color: black;
    row-gap: 20px;
    background-color: #708090;
  }
  .row1{
    display:flex;
    min-height:20vh;
    
    width:100%;
   
    flex-flow:row;
    justify-content:center;
    background-color: #708090;
    
  }
  .mrow{
    min-height:auto;
   
    width:99%;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    row-gap:5vw;
    order:-1;
    
  }
  
  .rectangles{
 
  min-width:95%;
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  height:auto;
  padding-top:21px
  }
  .gbutton{
    width:50vw;
    justify-self:center;
    font-size:3vw;
  }
  .Formtxt{
    font-size:3vw;
  }
  .ginput{
    width:90%;
    height:3vh;
    font-size: 2.2vw;
    border-radius: 10px;
  }
  .imggoog{
    width:20vw;
  }
  .row3{
    display:none;
    min-height:20vh;
    border:1px solid blue;
    width:100%;
   
    flex-flow:row;
    justify-content:center;
   /* transform: scale(0.7);
    transform-origin: 0 0;*/
   
    background-color: #708090;
  
  }
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  
  .react-pricing-table{

   width:auto;
   position:relative
  }
  .sidesC{
    display:flex;
    flex-flow: column;
    justify-content: center;
    width:inherit;
    background-color: #708090;
    width:100%;
  row-gap:25vh;
 
  height:auto;
  }
  .some{
    display:flex;
    flex-flow: column;
    justify-content: center;
    
    justify-self:top;
    height:100%;
    background-color: #708090;
  }
  .card{
   width:100%;
   justify-self: middle;
   
  }
 
  .cardbody{
    flex: 1 0 50%;
    font-size:2.2vw;
    display:flex;
    flex-flow:row;
    background-color: #708090;
  }
  /*.cardheader{
    flex: 1 0 50%;
    font-size:3vw;
    background-color: #708090;
    font-family: 'Bayon', sans-serif;
    color:white;
  }*/
  .cardheader{

    display:flex;
    display:none;
    flex-flow:row;
    border:6px solid black;
   
    
  }
  .Grid{
    width:auto;
  
  }
  .Grid-cell{
    width:auto;
  }
  .price basic-border{
  min-width:auto;
  }
  .price{
    min-width:auto;
  }
  .kingcontainer{
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content: space-around;
    height:100%;
  }
  .eachking{
    width:8.5vw;
    height:8vh;
    row-gap:1vw;
   
    display:flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap:wrap ;
    background-color: #708090;
    
   
  }
  .imgH{
    background-color: #708090;
   height:auto;
   width:100%;
  }
  .kingimg{
    width:100%;
    height:auto;
    
   
  }
  .logoimg{
  width:12vw;
  height:100%;
  
  }
  
  .imglogodiv{
    
    display:flex;
    flex-flow: column;
  justify-content: flex-start;
    width:99%;
    height:100%;
    
    flex-wrap:wrap;
  }
  .mainslogan{
    border-bottom:1px solid black;
    display:flex;
    flex-flow: column;
    justify-content: center;
    width:100%;
    height:70%;
    font-size:5vw;
    flex-wrap:wrap;
  }
  .slogan{
  font-size:2vw;
  width:100%;
    height:18%;
    
    display:flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    
  }
  .nav{
   
    
    width:100%;
    
  height:100%;
    
  }
  .navlinks{
  display:flex;
  
  justify-content: space-between;
  height:100%;
  width:20%;
  font-family: 'Bayon', sans-serif;
  list-style: none;
  font-size:3vw;
  
  
  
  }
  .navlinks2{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    
    font-size:3vw;
    height:100%;
    width:80%;
    font-family: 'Bayon', sans-serif;
    list-style: none;
    vertical-align: middle;
   
    
    }

  .links{
    cursor:pointer;
    text-decoration: none;
    color:black;
    margin: 5px;
    font-size:4vw;
    font-weight:10;
  }
 
  .navbar-nav{
display:relative;
height:100%;
width:80vw;
border:1px solid #342725;
position:fixed;
z-index:1000;
background-color:#708090;
color:white;
font-size:5vw;

  }
  .fileIn{
    width:50vw;
    font-size: 3.5vw;
  }
  .selop{
    width:50vw;
    margin:0 auto;
    font-size: 3.5vw;
  }
  .selnum{
    width:20vw;
    margin:0 auto;
    font-size: 4vw;
  }
  .seldate{
    width:30vw;
    margin:0 auto;
    font-size: 4vw;
  }
  .printLabel{
    font-size:3.5vw;
  }
  .sepspace{
    display:block;
    height:4vh;
  }
  .Pricesaccord{
    display:flex;
    justify-self:center;
  }
  #pricesspec{
    display:none;
  }
  .accorstuff{
    font-size:2vw;
  }
}

